/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui/sortable
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
  // border: 1px solid black;
};

.enter-site-form {
  left: 20px;
  position: relative;
};

li.board-list {
  font-size: 20px;
};

a.add-list {
  font-size: 16px;
};

div.board-list-index {
  position: absolute;
};

div.list-item {
  float: left;
  position: relative;
  margin: 10px;
};

button.delete-card {
  display: none;
};

div.card-item:hover button.delete-card {
  display: block;
};

.ui-sortable-helper {

}

div.bottom-links {
  display: block;
}
