<h2>New Tweet!</h2>
<form action="/tweets"
      class="tweet-compose"
      data-tweets-ul="#feed">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
  </label>
  <br>
  <strong class="chars-left"></strong>
  <br>

  <a href="javascript:void(0)" class="add-mentioned-user">Add Mention</a>
  <div class="mentioned-users"></div>

  <script type="text/template">
    <div>
      <label>
        Mention
        <select name="tweet[mentioned_user_ids][]">
          <option></option>
          <% User.all.each do |user| %>
            <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>
      </label>
      <a href="javascript:void(0)" class="remove-mentioned-user">Remove Mention</a>
      <br>
    </div>
  </script>
<br>

  <input type="Submit" value="Post Tweet!" class="submit-button">
</form>
