<form class="post-form">
  <input type="text" name="post[title]" value="<%= post.escape('title') %>" >
  <input type="text" name="post[body]" value="<%= post.escape('body') %>">

  <input type="submit">
</form>
