<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-tweets">
  <ul id="feed"></ul>
  <a href="javascript:void(0)" class="fetch-more">Fetch More!</a>
</div>
<%= render "tweets/form" %>
