<h1>Your Boards</h1><br>

<% boards.forEach(function(board) { %>
  <li class="board-list">
    <a href="#/boards/<%= board.id %>">
      <%= board.escape('title') %>
    </a>
  </li>
<% }); %>

<br>
<li class="board-list"><a href="#/boards/new" class="create-board">Create New Board</a></li>
