<script type="text/template" id="pokemon-list-item-template">
  <li class="poke-list-item" data-id="<%%= pokemon.escape('id') %>">
    name: <%%= pokemon.escape('name') %><br>
    poke_type: <%%= pokemon.escape('poke_type')%><br>
  </li>
</script>

<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"></img>
    <%% for (var attr in pokemon.attributes) { %>
      <%% if (pokemon.get(attr) && attr !== 'id' && attr !== 'image_url') { %>
        <span style="font-weight:bold;"><%%= attr %>: </span><%%=
          pokemon.get(attr) %><br>
      <%% } %>
    <%% } %>
    <span style="font-weight: bold;">Toys:</span><br>
    <ul class="toys"></ul>
  </div>
</script>

<script type="text/template" id="toy-list-item-template">
  <li class='toy-list-item' data-id="<%%= toy.escape('id') %>"
    data-pokemon-id="<%%= toy.escape('pokemon_id') %>">
    <%% shortInfo.forEach(function (attr) { %>
      <%%= attr %>: <%%= toy.escape(attr) %><br>
      <%% }); %>
  </li>
</script>

<script type="text/template" id="toy-detail-template">
  <div class='detail'>
    <img src="<%%= toy.escape('image_url') %>"><br>
    <%% for (var attr in toy.attributes) { %>
      <%% if(attr !== 'pokemon_id' && attr !== 'image_url') { %>
        <span style="font-weight: bold;"><%%= attr %>: </span><%%=
          toy.get(attr) %><br>
    <%% }} %>
    <select data-pokemon-id="<%%= toy.escape('pokemon_id') %>"
      data-toy-id="<%%= toy.id %>">
    <%% pokes.forEach(function (pokemon) { %>
      <option value="<%%= pokemon.id %>"
        <%% if (pokemon.id === toy.get("pokemon_id")) { %>selected<%% } %>>
        <%%= pokemon.escape("name") %>
      </option>
      <%% }); %>
</script>

<script type="text/template" id="pokemon-form-template">
</script>
