<h1>Modify Cat Rental Request</h1>
<h4>Note: submitting this form will revert your request to pending status</h4>

<%= render partial: "form", locals:
  { action_url: cat_rental_request_url(@cat_rental_request),
    hidden_method: "patch",
    cat_rental_request: @cat_rental_request,
    submit_value: "Submit Modified Request"
  }
%>
